body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/loginbg.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    filter: brightness(1.1); 
    z-index: -1; 
}



.div {
    display: block;
    unicode-bidi: isolate;
}

.login-container {
  width: 450px;
  height: auto;
  background-repeat: no-repeat;
  background: rgba(255, 255, 255, 0.6);
  background-position: center;
  background-size: cover; 
  padding: 15px 40px 20px 20px;
  border-radius: 9px;
  box-shadow: 0 0 5px rgb(83, 18, 54);
  position: relative;
  z-index: 1;
  margin-top:2px;
 
}
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="cpassword"],
  .button {
    width: 100%;
    margin-bottom: 9px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
  }
  

  
  
  .button {
    background-color: #70034a;
    color: rgb(221, 160, 194);
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 12px;
  }
  
  .button:hover {
    background-color: #8b0e4a;
    color: #fff;
  }
  
  h2 {
    text-align: center;
    color: rgb(147, 19, 96);
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    padding-top: 2px;
    
}
  p {
    text-align: center;
    color: #393336;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color:rgb(153, 30, 91);
    cursor: pointer;
    font-weight: bold;
  }
  
  a:hover {
    color: #570033;
  }
  
  .btn-custom {
    background-color: red;
  }
  div {
    display: block;
    unicode-bidi: isolate;
}  

.other-box li{
  font-weight: bold;
  color: rgb(128, 0, 83);
}

.login-container label{
  font-size: 15px;
  color: #393336;
  font-weight: bold;


}

.expiry-cvv-container input {
  width: 150px; /* Adjust the width as needed */
  height: 18px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

#amount{
font-weight: bold;
}





.login-type input[type="radio"] {
  accent-color: #ae025b; /* Change this color to your desired color */
  cursor: pointer;
  margin-right: 10px;
}